<div class="container">

    <div class="alert alert-warning text-center my-4">
        Alert
    </div>

    <div class="row justify-content-center">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Register</h1>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col mt-4">
                        <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" placeholder="Email">
                    </div>
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors['required']">Email is required</div>
                        <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" placeholder="Password">
                    </div>
                </div>
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                    <div *ngIf="f['password'].errors['minlength']">
                        Password must be at least 6 characters
                    </div>
                    <div *ngIf="f['password'].errors['maxlength']">
                        Username must not exceed 40 characters
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <input type="password" formControlName="confirmPassword" class="form-control" placeholder=" Confirm Password" [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }">
                    </div>
                </div>
                <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                    <div *ngIf="f['confirmPassword'].errors['required']">
                        Confirm Password is required
                    </div>
                    <div *ngIf="f['confirmPassword'].errors['matching']">
                        Confirm Password does not match
                    </div>
                </div>

                <div class="row justify-content-start mt-4">
                    <div class="col">

                        <button class="btn btn-primary mt-4">Submit</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>