<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <a routerLink="/home" class="navbar-brand">TopUp<b>Mama</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
  <span class="navbar-toggler-icon"></span>
</button>

    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-end ">
        <div class="navbar-nav  action-buttons ml-auto justify-content-start" *ngIf="loggedIn()">
            <a href="" class="nav-item nav-link" routerLink="/dashboard/account">My account</a>
            <a href="" class="nav-item nav-link" routerLink="/dashboard/users">Users</a>

        </div>

        <div class="navbar-nav action-buttons ml-auto justify-content-end">

            <a *ngIf="!loggedIn()" href="#" class="btn btn-outline-success mr-1" routerLink="/login">Login</a>
            <a *ngIf="!loggedIn()" href="#" class="btn btn-success mr-1" routerLink="/register">Register</a>
            <a *ngIf="loggedIn()" href="#" class="btn btn-outline-danger mr-1" (click)="logoutUser()">Logout</a>
        </div>
    </div>
</nav>