/* You can add global styles to this file, and also import other style files */


/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
.btn-primary {
    color: #fff;
    background-color: #101802 !important;
    border-color: #101802 !important;
}