.btn {
    margin-left: 5px;
}

.search-table {
    width: 400px;
    margin: 10px;
    float: right;
}

.page-item.active .page-link {
    background-color: #3B8855 !important;
    border-color: #3B8855 !important;
}

.table {
    margin: 10px;
}